{% extends 'base.html.twig' %}

{% block title %}Edit Conge{% endblock %}

{% block body %}
    <h1>Edit Conge</h1>

    {{ include('conge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('conge_index') }}" <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>

    {{ include('conge/_delete_form.html.twig') }}
{% endblock %}
