{% extends 'base_admin.html.twig' %}

{% block title %}Conge index{% endblock %}

{% block body %}
    <h1>Les congés</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                
            </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td>{{ conge.id }}</td>
                <td>{{ conge.Type }}</td>
                <td>{{ conge.DateDebut ? conge.DateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ conge.DateFin ? conge.DateFin|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="#" class="text-primary">Voir en pdf</a>
                </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Vous n'avez pas de congé </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
