<form method="post" action="{{ path('formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('tu veux vraiment');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
</form>
