{% extends 'base_user_enseignant.html.twig' %}
{% block title %}Hello FormationController!{% endblock %}

{% block body %}

    <div>
        {{formations.nom}}
        {{formations.lieu}}
        <a href="{{path('inscription_formation',{'enseignant': app.user.id, 'formations': formations.id })}}" class="btn btn-primary">S'iscrire à la formation</a>

    </div>
{% endblock %}