{% extends 'base.html.twig' %}

{% block title %}New Sanction{% endblock %}

{% block body %}
    <h1>Create new Sanction</h1>

    {{ include('sanction/_form.html.twig') }}

    <a href="{{ path('sanction_index') }}">back to list</a>
{% endblock %}
