<form method="post" action="{{ path('inscription_delete', {'id': inscriptionformation.id}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscriptionformation.id) }}">
    <button ><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
</form>