{% extends 'base_user_enseignant.html.twig' %}

{% block title %}Hello InscriptionFormationController!{% endblock %}

{% block body %}

 {{ form_start(formInscriptionFormation)}}
    {{ form_widget(formInscriptionFormation) }}
 <button type="submit" class="btn btn-primary">S'inscrire</button>
 {{ form_end(formInscriptionFormation)}}

{% endblock %}
 