{% extends 'base_admin.html.twig' %}

{% block title %}Edit Sceance{% endblock %}

{% block body %}
    <h1>Edit Sceance</h1>

    {{ include('sceance/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sceance_index') }}" ><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>

    {{ include('sceance/_delete_form.html.twig') }}
{% endblock %}
