{% extends 'base_admin.html.twig' %}

{% block title %}New Sceance{% endblock %}

{% block body %}
    <h1>Create new Sceance</h1>

    {{ include('sceance/_form.html.twig') }}

    <a href="{{ path('sceance_index') }}" ><i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i></a>
{% endblock %}
