{% extends 'base_user_enseignant.html.twig' %}

{% block title %}Hello EnseignantHomeController!{% endblock %}

{% block body %}


<div>
    <h1> Annonces</h1>
     
        {% for annonce_enseignant in annonce_enseignants %}
            
               
                <p><a href="{{path('annonce_enseignant_show',{'id': annonce_enseignant.id})}}">{{ annonce_enseignant.Titre }}</a></p>
                <p>{{ annonce_enseignant.DateAjout ? annonce_enseignant.DateAjout|date('Y-m-d') : '' }}</p>
                <p>####################################################################################################</p>
               
            
        {% else %}
            
        {% endfor %}
       
     {{ knp_pagination_render( annonce_enseignants )}}
    

</div>
{% endblock %} 
