{% extends 'base_user_personnel.html.twig' %}

{% block title %}Hello HomePersonnelController!{% endblock %}

{% block body %}

<div>
    <h1> Annonces</h1>
     
        {% for annonce_personnel in annonce_personnels %}
            
               
                <p ><a href="{{path('annonce_enseignant_show',{'id': annonce_personnel.id})}}" class="text-primary">{{ annonce_personnel.Titre }}</a></p>
                <p>{{ annonce_personnel.DateAjout ? annonce_personnel.DateAjout|date('Y-m-d') : '' }}</p>
                <p>####################################################################################################</p>
               
            
        {% else %}
            
        {% endfor %}
       
     {{ knp_pagination_render( annonce_personnels )}}
    

</div>

{% endblock %}  
